* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.Events,
.Contact,
.FAQ {
  display: flex;
  height: 50vh;
  align-items: left;
  padding-left: 1.75rem;
  justify-content: flex-start;
  font-size: 1.5rem;
  color: black;
}

.about,
.Events,
.Contact,
.FAQ {
  /* background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 75px;
}


